# Dynamic configuration for Traefik
http:
  routers:
    app-secure:
      rule: "Host(`app.127.0.0.1.nip.io`)"
      service: "app-service"
      entryPoints:
        - "websecure"
      tls: {}

    app-insecure:
      rule: "Host(`app.127.0.0.1.nip.io`)"
      service: "app-service"
      entryPoints:
        - "web"
      middlewares:
        - "redirect-to-https"

  middlewares:
    redirect-to-https:
      redirectScheme:
        scheme: "https"
        permanent: true

  services:
    app-service:
      loadBalancer:
        servers:
          - url: "https://app:8080"
        serversTransport: "insecure-transport"

  serversTransports:
    insecure-transport:
      insecureSkipVerify: true

tls:
  certificates:
    - certFile: "/certs/cert.pem"
      keyFile: "/certs/key.pem"
